 .center-cropped {
     object-fit: cover;
     object-position: center;
 }

 h5, p {
     -webkit-text-stroke: 1px black;
     font-size: x-large;
 }

 body {
     padding-top: 3rem;
 }
 b {
     font-size: xx-large;
     text-align: left;
 }