<link rel="stylesheet" href="../static/main.css">{% extends "base.html" %}

{% block title %}PC Builders{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/cart.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr class="table">
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
        <!--<tbody>-->
        <!--<tr class="cart-position">-->
            <!--<td data-th="Product">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-2 hidden-xs"><img-->
                            <!--src="https://cdn2.fromae.com/media/catalog/product/cache/image/9df78eab33525d08d6e5fb8d27136e95/0/1/01_150_87.jpg"-->
                            <!--alt="..." class="img-responsive"/></div>-->
                    <!--<div class="col-sm-10">-->
                        <!--<h4 class="nomargin">Iphone Xs max 512gb Rose gold</h4>-->
                        <!--<p>Just the phone with the price of a car</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</td>-->
            <!--<td data-th="Price" class="price">1499$</td>-->
            <!--<td data-th="Quantity" class="text-center">-->
                <!--<button class="btn btn-outline-success btn-sm btn-block plus-button"><i-->
                        <!--class="fas fa-plus plus-button"></i></button>-->
                <!--<input type="text" class="form-control text-center amount" disabled value="1">-->
                <!--<button class="btn btn-outline-success btn-sm btn-block minus-button"><i-->
                        <!--class="fas fa-minus minus-button"></i></button>-->
            <!--</td>-->
            <!--<td data-th="Subtotal" class="text-center sum">1499$</td>-->
            <!--<td class="actions" data-th="">-->
                <!--<button class="btn btn-outline-danger"><i class="fa fa-trash-o"></i></button>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr class="cart-position">-->
            <!--<td data-th="Product">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-2 hidden-xs"><img-->
                            <!--src="https://biggeek.ru/files/products/mi-6x-mi-6x5-99-fhd-snapdragon-660-4.jpg_640x640-1_2.435x435.435x435_2.435x435.jpg?49a7cb5039a778ee7f860ae9ef361226"-->
                            <!--alt="..." class="img-responsive"/></div>-->
                    <!--<div class="col-sm-10">-->
                        <!--<h4 class="nomargin">Xiaomi MI A2 32gb Black</h4>-->
                        <!--<p>Get the pure Android experience with the price of a budget phone</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</td>-->
            <!--<td data-th="Price" class="price">249$</td>-->
            <!--<td data-th="Quantity" class="text-center">-->
                <!--<button class="btn btn-outline-success btn-sm btn-block plus-button"><i class="fas fa-plus"></i>-->
                <!--</button>-->
                <!--<input type="text" class="form-control text-center amount" disabled value="1">-->
                <!--<button class="btn btn-outline-success btn-sm btn-block minus-button"><i class="fas fa-minus"></i>-->
                <!--</button>-->
            <!--</td>-->
            <!--<td data-th="Subtotal" class="text-center sum">249$</td>-->
            <!--<td class="actions" data-th="">-->
                <!--<button class="btn btn-outline-danger"><i class="fa fa-trash-o"></i></button>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr class="cart-position">-->
            <!--<td data-th="Product">-->
                <!--<div class="row">-->
                    <!--<div class="col-sm-2 hidden-xs"><img-->
                            <!--src="https://biggeek.ru/files/products/at-galaxy-a8-2018-duos-a530f-sm-a530fzkdato-frontblack-91918131.435x435.jpeg?013aaf3d9c2e3d074501e45071127c81"-->
                            <!--alt="..." class="img-responsive"/></div>-->
                    <!--<div class="col-sm-10">-->
                        <!--<h4 class="nomargin">Samsung Galaxy A8 32gb Black</h4>-->
                        <!--<p contenteditable>Samsung that pretends to be Xiaomi</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</td>-->
            <!--<td data-th="Price" class="price">262$</td>-->
            <!--<td data-th="Quantity" class="text-center">-->
                <!--<button class="btn btn-outline-success btn-sm btn-block plus-button"><i class="fas fa-plus"></i>-->
                <!--</button>-->
                <!--<input type="text" class="form-control text-center amount" disabled value="1">-->
                <!--<button class="btn btn-outline-success btn-sm btn-block minus-button"><i class="fas fa-minus"></i>-->
                <!--</button>-->
            <!--</td>-->
            <!--<td data-th="Subtotal" class="text-center sum">262$</td>-->
            <!--<td class="actions" data-th="">-->
                <!--<button class="btn btn-outline-danger"><i class="fa fa-trash-o"></i></button>-->
            <!--</td>-->
        <!--</tr>-->
    </table>
    <form>
        <label>Personal info:</label>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
    </form>
    <div class="form-row">
        <label for="emailInput">Your email address:</label>
        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
               placeholder="email@example.com">
    </div>
    <label>ZIP Code:</label>
    <div class="form-row">
        <input aria-label="zipcode" type="text" class="form-control">
    </div>
    <div class="form-row">
        <label for="shipmentMethod">Select shipment method:</label>
        <select class="form-control" id="shipmentMethod">
            <option>Почта России + 5$</option>
            <option>EMS + 7$</option>
            <option>СДЭК + 10$</option>
        </select>
    </div>
</div>
</tbody>
<tfoot>
<div>
    <div><a href="/" class="btn btn-block"><i class="fa fa-angle-left"></i> Continue Shopping</a></div>
    <div colspan="2" class="hidden-xs"></div>
    <div><a href="#" class="btn btn-block">Checkout <i class="fa fa-angle-right"></i></a></div>
</div>
</tfoot>
<script type="text/javascript" src="/static/cart.js"></script>
{% endblock %}
