{% extends "base.html" %}

{% block title %}PC Builders{% endblock %}

{% block content %}
 <script type="text/javascript">
     const products = []
 </script>
<div class="card-deck">
    {% for product in products %}
    <div class="card">
        <img class="card-img-top" src="{{ product.image_src }}" alt="{{ product.image_title }}">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
        </div>
        {% if product.price %}
        <b class="card-text mt-auto">{{ product.price}}$</b>
        <small class="add-button btn btn-primary btn-lg buyButton" data-id="{{product.id}}">Buy</small>
        {% else %}
        <small class="text-muted btn btn-secondary btn-lg OoSButton" disabled>Out of stock</small>
        {% endif %}
        <script type="text/javascript">
            products[{{product.id}}] = {
                id: {{product.id}},
                title: '{{product.title}}',
                sum: 0,
                amount: 1,
                price: {{ product.price }},
            }
        </script>
    </div>
    {% endfor %}
</div>
<script type="text/javascript" src="/static/cart.js"></script>
{% endblock %}
