{% extends "base.html" %}

{% block title %}PC Builders{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://getbootstrap.com/docs/4.1/examples/carousel/carousel.css">
<link rel="stylesheet" href="/static/main.css">
{% endblock %}
{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3500">
    <ol class="carousel-indicators">
        {% for slide in slides %}
        <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"
            class="{% if loop.first %}active{% endif %}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% set class = '' %}
        {% for slide in slides %}
        {% if loop.first %}
        {% set class = 'active' %}
        {% endif %}
        <div class="carousel-item {{ class }}">
            <img src="{{ slide.image_src }}" alt="{{ slide.image_title }}" class="center-cropped">
            <div class="container">
                <div class="carousel-caption d-none d-md-block text-left">
                    <h5>{{ slide.heading }}</h5>
                    <p>{{ slide.subheading }}</p>
                    <a class="btn btn-lg btn-primary"
                          href="{{url_for('category_page',
                                  category_id=slide.category_id)}}" role="button">
                        Выбор категории</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<b>Categories</b>
<div class="card-group">
    {% for product in slides %}
    <div class="card">

        <img class="card-img-bottom center-cropped" src="{{ product.image_src }}" alt="{{ product.image_title }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
        </div>
        <p>
            <a class="btn btn-lg btn-primary"
               href="{{url_for('category_page',
                                  category_id=product.category_id)}}" role="button">
                {{ product.heading }}</a>
        </p>

    </div>
    {% endfor %}
</div>

{% endblock %}
