ul.navigation {
    display: block;
}

.navigation li{
    display: block;
    float: left;
    padding: 5px;
    background-color: red;
    margin-right: 5px
}

    .carousel-item > img{
    height: auto;
}
