{% extends "base.html" %}

{% block title %}PC Builders{% endblock %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <form>
        <label>Personal info:</label>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>
    </form>
    <div class="form-row">
        <label for="emailInput">Your email address:</label>
        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
               placeholder="email@example.com">
    </div>
    <label>ZIP Code:</label>
    <div class="form-row">
        <input type="text" class="form-control">
    </div>
    <div class="form-row">
        <label for="shipmentMethod">Select shipment method:</label>
        <select class="form-control" id="shipmentMethod">
            <option>Почта России</option>
            <option>EMS</option>
            <option>СДЭК</option>
    </div>
</div>
{% endblock %}